<div ng-transclude></div>
<div class="_live-section-label _live-element">{{LiveSection.name}}</div>
<div class="_live-section-close _live-element"
        ng-click="LiveSection.Events.close()">
    <i class="os-icon-cancel-3"></i>
</div>