<div class="_liveEditor-content"
        ng-class="{'_hover':LiveEditable.IsHover}">

</div>
<div class="_liveEditor-label"
        ng-class="{'_show':LiveEditable.IsHover}">
    {{ LiveEditable.Name }}
</div>
