<div class="_livecharm-activate"
        ng-class="{'_disabled':!LiveCharm.Activated}"
        ng-click="LiveCharm.Events.toggleLiveEdit()">
    <i class="os-icon-pencil-alt-1"></i>
</div>
<ul class="_livecharm-list"
    ng-class="{'_show':(LiveCharm.IsOpenSections && LiveCharm.Activated)}">
    <li class="_livecharm-title">Liste des sections</li>
    <li class="_livecharm-item"
        ng-repeat="section in LiveCharm.Sections"
        ng-mouseover="LiveCharm.Events.hoverSection(section.Name)"
        ng-mouseleave="LiveCharm.Events.leaveSection(section.Name)"
        ng-click="LiveCharm.Events.clickSection(section.Name, $event)"
        ng-class="{'_hover':section.Hover||section.Opened}">
        <i class="os-icon-doc-landscape"></i>
        <span>{{ section.Name }}</span>
    </li>
</ul>
<ul class="_livecharm-items"
    ng-class="{'_show':LiveCharm.IsOpenItems}">
    <li class="_livecharm-title">{{LiveCharm.SelectedSection.Name}}</li>
    <li class="_livecharm-item"
        ng-repeat="item in LiveCharm.Items"
        ng-mouseover="LiveCharm.Events.hoverItem(item)"
        ng-mouseleave="LiveCharm.Events.leaveItem(item)"
        ng-click="LiveCharm.Events.clickItem(item)"
        ng-class="{'_hover':item.IsHover}">
        <i class="os-icon-doc-text" ng-show="item.Type == 'text' || item.Type == 'tinytext'"></i>
        <i class="os-icon-file-image" ng-show="item.Type == 'image'"></i>
        <i class="os-icon-link-2" ng-show="item.Type == 'link'"></i>
        <span>{{ item.Name }}</span>
    </li>
</ul>
